body {
    background-color: #f4f4f4;
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    padding: 20px;
}

.contenedor-grid {
    display: grid;
    grid-template-columns: repeat(2, 340px); /* 2 columnas exactas */
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}

.tarjeta {
    padding: 30px;
    border-radius: 15px;
    border: 6px solid white; /* Borde blanco grueso de la imagen */
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.tarjeta h2 { margin: 0; color: #555; font-size: 20px; }
.tarjeta p { font-size: 14px; color: #444; margin: 10px 0; }

/* Colores pastel */
.azul { background-color: #bde0e8; }
.amarillo { background-color: #fdf2b3; }
.naranja { background-color: #fce1bc; }
.verde { background-color: #c9e9d9; }
.lila { background-color: #d1d9f3; }
.rojo { background-color: #f7cbc3; }
.morado { background-color: #e3d3f1; }
.rosa { background-color: #fbd6d2; }

input, select, button { margin-top: 10px; padding: 5px; border-radius: 4px; border: 1px solid #ccc; }